
<br/>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="breadcrumb-item">Dashboard</li>

</ol>
<div class="row">
    <div class="col-md-12">
        <p style="
    font-size:  20px;
    font-weight: 600;">Dashboard</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="alert alert-dismissible alert-secondary text-center">
            <h5><strong>Projects</strong></h5>
            <a href="@Url.Action("Index","Project")" class="alert-link">alert needs your attention</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-dismissible alert-secondary">
            <p><strong>Resources</strong></p>
            <a href="@Url.Action("Index","Resource")" class="alert-link">alert needs your attention</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-dismissible alert-secondary">
            <p><strong>Leave</strong></p>
            <a href="#" class="alert-link">alert needs your attention</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="alert alert-dismissible alert-secondary">
            <h5><strong>Schedule</strong></h5>
            <a href="#" class="alert-link">alert needs your attention</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-dismissible alert-secondary">
            <p><strong>Summary</strong></p>
            <a href="#" class="alert-link">alert needs your attention</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-dismissible alert-secondary">
            <p><strong>Settings</strong></p>
            <a href="#" class="alert-link">alert needs your attention</a>
        </div>
    </div>
</div>

<br /><br />
<div class="row">
    <div class="col-md-12">
        <p style="
    font-size:  20px;
    font-weight: 600;">Info</p>
    </div>
</div>
