@model IEnumerable<TeamResourceTool.Models.Team>

@{
    ViewBag.Title = "Index";
}
<br/>
<div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header"></div>
                <div class="card-body text-center" style="color: #111;">
                    <h4 class="card-title">@item.Name</h4>
                    <p class="card-text">
                        @Html.RouteLink(@item.Name, new { action = "Index", controller = "Team", id = item.Id })
                    </p>
                </div>
            </div>
        </div>
    }
</div>


